<h1>Redo</h1>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="thumbnail">
                    <img src="images/Screenshot_1.png">
                    <div class="caption">
                        Screenshot 1
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
                <div class="thumbnail">
                    <img src="images/Screenshot_2.png">
                    <div class="caption">
                        Screenshot 2
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>Redo is a simple Android app for recurring tasks writen in Kotlin</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <a href="downloads/app-release.apk">
                    <button class="btn btn-success btn-lg btn-outline btn-rounded"><span class="glyphicon glyphicon-download-alt"></span> Download</button>
                </a>
            </div>
        </div>
    </div>
</div>