<h1>Uploader</h1>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="thumbnail">
                    <img src="images/uploader.png">
                    <div class="caption">
                        Example screenshot how uploader looks when startet.
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
                <div class="well">
                    <p>Uploader is a simple tool to start a webserver on any folder and share everything inside. It's writen in Nim and a singe binary file.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="http://theanonymous.github.io/application/2015/03/15/uploader/">
                    <button class="btn btn-success btn-lg"><span class="glyphicon glyphicon-download-alt"></span> Download</button>
                </a>
            </div>
        </div>
    </div>
</div>